Repository WyriHaximus/reactphp-child-process-messenger, pull requests merged in 2021-03, with the labels that each got.

#46 callable listeners signature requires Payload type, not the Payload's content
  src/Messages/Rpc.php
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, JSON 👨‍💼, NEON 🦹‍♂️, PHP 🐘, Source 🔮, YAML 🍄

#49 Small codestyle fix
  src/Messages/Rpc.php
Labels: PHP 🐘, Source 🔮

#50 Use latest dependencies
  composer.json
  composer.lock
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘

#51 Update README for v3
  README.md
Labels: Documentation 📚, MarkDown 📝

#52 Test on all OSes
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#53 Run unit tests directly on all OSes
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#54 Run examples on CI
  .github/workflows/ci.yml
  Makefile
  examples/advanced-own-child-process/child.php
  examples/advanced-own-child-process/index.php
  examples/error/index.php
  examples/messages/index.php
  examples/overflow/index.php
  examples/prime/index.php
  examples/return-class-messaging/index.php
  examples/return-class/index.php
  examples/secure-messages/index.php
  examples/secure-return-class/index.php
  examples/time-format/index.php
Labels: CI 🚧, Configuration ⚙, PHP 🐘, YAML 🍄
