Repository WyriHaximus/reactphp-child-process-messenger, pull requests merged in 2023-07, with the labels that each got.

#114 Cache the Doctrine\Inflector instance as a static property for reuse
  src/Messages/Factory.php
Labels: PHP 🐘, Source 🔮

#118 CI fixes
  .github/workflows/ci.yml
  .github/workflows/set-milestone-on-pr.yaml
  Makefile
  composer.json
  composer.lock
  src/Messages/Factory.php
  tests/FactoryTest.php
Labels: Dependencies 📦, PHP 🐘, JSON 👨‍💼, YAML 🍄, Tests 🧪, Source 🔮, Configuration ⚙, CI 🚧

#126 Ditch Dependabot
  .github/dependabot.yml
Labels: YAML 🍄, Configuration ⚙
